.header-text{
  color: #FFFFFF;
  font-size: 24px;
}

.footer-text{
  color: #FFFFFF;
  font-size: 24px;
}

a {
	text-decoration: none;
}

a.menu{
  color: #252323;
}

a.menu:hover{
	color: #A0A69F;
}

.tovar-title{
	font-size: 18px;
}

.tovar-price{
	font-size: 24px;
	font-weight: 900;
}
